<h1><%= @article.title %></h1>
<h2>Written by 
	<% if @article.author %>
		<%= link_to @article.author.username, author_path(@article.author) %>
	<% else %>
		<em>--redacted--</em>
	<% end %>
</h2>
<p>
	Tags:
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url(:thumb) %>
	<% end %>
</p>
<p><%= @article.body %></p>
<br>
<% if current_user.id == @article.author_id %>
	<%= link_to "edit", edit_article_path(@article) %>
	<br>
	<%= link_to "delete", article_path(@article), data: {confirm: "Really delete the article?"}, method: :delete %>
<% end %>
<br>
<br>
<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Articles List", articles_path %>